body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EEE;
  padding: 0;
  margin: 0;
}

button {
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

.info-button {
  margin-left: 10px;
  margin-right: 0;
  border: 1px solid black;
  font-size: 12px;
  padding: 1px 4px 1px 4px;
}

#n-a-action, #n-b-buy {
  background-color: black;
  color: white;
}

#status-window {
  position: fixed;
  left: 0;
  bottom: 0;
  border-right: 2px solid black;
  height: 130px;
  width: 42px;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  background-color: white;
}

.status-box {
  font-size: 13px;
  height: 22px;
  width: 26px;
  border-bottom: 2px solid black;
  padding: 7px 8px 2px 8px;
}

#next-phase {
  padding-top: 3px;
  padding-bottom: 8px;
  font-size: 20px;
  cursor: pointer;
}

#next-phase:hover {
  background-color: black;
  color: white;
}

.status-label {
  font-weight: bold;
}

.breaker {
  clear: both;
}

.supply-item {
  float: left;
  margin: 5px;
}

.cards-left {
  background-color: black;
  color: white;
  width: 20px;
  margin-left: 38px;
  text-align: center;
  font-size: 10px;
  padding: 1px 3px 3px 3px;
  font-weight: bold;
}

#supply {
  margin-left: 50px;
}

#hand .card, #supply .card {
  cursor: pointer;
}

.card {
  font-size: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
  background-color: white;
}

.card[data-used='used'] {
  background-color: #dedede;
  color: #555555;
}

.card .vp {
  font-size: 15px;
  height: 30px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 12px;
}

.card .header, .card .footer {
  margin-top: 5px;
  position: relative;
  width: 100px;
  height: 13px;
  text-align: left;
}

.curse {
  background-color: #d793ed;
}

.treasure {
  background-color: #fff263;
}

.victory {
  background-color: #7de389;
}

.reaction {
  background-color: #7dd9e7;
}

#error-box {
  display: none;
}

#info-box, #error-box {
  left: 30%;
  width: 40%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 30px;
  background-color: white;
}

#error-box-inner {
  background-color: #E61919;
}

#error-box-inner, #info-box-inner {
  margin-left: 10px;
  margin-right: 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 8px;
  height: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

#discard-popup {
  right: -97%;
  -webkit-transition: right 0.25s;
  transition: right 0.25s;
}

#discard-popup:hover {
  right: -5%;
}

#discard-popup, #inplay-popup {
  position: fixed;
  bottom: 135px;
  width: 100%;
  height: 132px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
}

.popup-bar {
  width: 20px;
  padding: 53px 6px 54px 4px;
}

#discard-bar {
  border-right: 1px solid #efefef;
}

#inplay-bar {
  position: absolute;
  right: 0;
  border-left: 1px solid #efefef;
}

#inplay-popup {
  left: -97%;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
}

#inplay-popup:hover {
  left: -5%;
}

#inplay-popup:hover {
  left: -5%
}

#discard, #inplay {
  position: absolute;
  top: 10px;
  height: 90%;
  width: 92%;
  overflow: scroll;
}

#discard {
  left: 35px;
}

#inplay {
  right: 35px;
}

#discard .cards-inner {
  left: 0;
}

#inplay .cards-inner {
  right: 0;
}

#hand-wrapper {
  background-color: white;
  position: fixed;
  bottom: 0px;
  height: 130px;
  width: 100%;
  border-top: 2px solid black;
  overflow: scroll;
}

#hand {
  position: absolute;
  top: 8px;
  left: 52px;
}

.cards-inner {
  position: relative;
  top: 0;
  height: 120px;
  width: 400%;
}

#expand-info {
  width: 23%;
  left: 75%;
  top: 0;
  padding-top: 10px;
  position: absolute;
}

#expand-info .name {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

#expand-info .value, #expand-info .cost, #expand-info .vp {
  position: absolute;
  background-color: #fefefe;
  border: 2px solid black;
  height: 16px;
  padding: 2px;
  width: 45px;
  text-align: center;
}

#expand-info .divider {
  border-bottom: 1px solid #dedede;
  margin: 20px;
}

#expand-info .cost {
  top: 24px;
}

#expand-info .vp {
  top: 13px;
}

#expand-info .value {
  top: 35px;
}

#expand-info .value, #expand-info .vp {
  right: 0px;
}

#expand-info .type {
  top: 45px;
}

#expand-info .line {
  margin-bottom: 8px;
  font-size: 13px;
  text-align: center;
}

#expand-info .type, #expand-info .name {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
}

#expand-info .text {
  position: absolute;
  top: 100px;
  width: 70%;
  left: 15%;
}

.card .name {
  font-weight: bold;
}

.card .cost {
  border-top: 1px solid black;
  border-right: 1px solid black;
  font-weight: bold;
}

.card .value, .card .cost {
  width: 12px;
  height: 14px;
  padding: 1px;
  text-align: center;
}

.card .value {
  position: absolute;
  left: 5px;
  top: 1px;
}

.card .name{
  position: absolute;
  top: 2px;
  left: 10px;
  width: 80px;
  text-align: right;
}

.card .type {
  display: none;
}

.card .text {
  display: none;
}

#card-area {
  width: 75%;
}

#container {
  position: relative;
}

#game-title {
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  height: 37px;
}

#game-title-span {
  padding-left: 15px;
}

#leave-game, #start-game {
  float: right;
}

#games-list {
  float: left;
  width: 70%;
}

#game-manager {
  margin: 40px;
}

#games-list ul li span.game-title {
  cursor: pointer;
  font-weight: bold;
  color: #750000;
}

#games-list ul li .game-playerCount{
  font-weight: lighter;
  color: #AAA;
  font-size: .8em;
}

#create-game {
  float: left;
  width: 30%;
}

#create-game input[type=text] {
    font-size: 1.2em;
    padding: 0.25em;
    margin: 0.25em 0;
}

#create-game input[type=submit] {
  border-radius: 0.5em;
  background: #750000;
  border: none;
  padding: 1em;
  color: #fff;
  margin-top: 1em;
}

.game-title {
  padding-right: 5px;
}
